[package]
name = "sev"
version = "0.1.0"
authors = ["Nathaniel McCallum <npmccallum@redhat.com>"]
license = "Apache-2.0"
edition = "2018"
homepage = "https://github.com/enarx/sev"
repository = "https://github.com/enarx/sev"
description = "Library for AMD SEV"
readme = "README.md"
keywords = ["amd", "sev"]
categories = ["os", "os::linux-apis", "parsing", "network-programming", "hardware-support"]
exclude = [ ".gitignore", ".github/*" ]

[badges]
# See https://doc.rust-lang.org/cargo/reference/manifest.html#the-badges-section
github = { repository = "enarx/sev", workflow = "test" }
#github = { repository = "enarx/sev", workflow = "lint" }
maintenance = { status = "actively-developed" }
is-it-maintained-issue-resolution = { repository = "enarx/sev" }
is-it-maintained-open-issues = { repository = "enarx/sev" }

[features]
default = []
dangerous_tests = []

[dependencies]
openssl = { version = "0.10", optional = true, features = [ "vendored" ] }
bitflags = "1.2.1"
codicon = "2.1.0"
bitfield = "0.13"
iocuddle = "0.1"
