[package]
name = "sev"
version = "0.1.0"
authors = ["Nathaniel McCallum <npmccallum@redhat.com>"]
license = "Apache-2.0"
edition = "2018"
homepage = "https://github.com/enarx/sev"
repository = "https://github.com/enarx/sev"
description = "Library for AMD SEV"
readme = "README.md"
keywords = ["amd", "sev"]
categories = ["os", "os::linux-apis", "parsing", "network-programming", "hardware-support"]
exclude = [ ".gitignore", ".github/*" ]

[badges]
# See https://doc.rust-lang.org/cargo/reference/manifest.html#the-badges-section
github = { repository = "enarx/sev", workflow = "test" }
#github = { repository = "enarx/sev", workflow = "lint" }
maintenance = { status = "actively-developed" }
is-it-maintained-issue-resolution = { repository = "enarx/sev" }
is-it-maintained-open-issues = { repository = "enarx/sev" }

[features]
default = []
hw_tests = []
dangerous_hw_tests = ["hw_tests"]

[dependencies]
openssl = { version = "0.10", optional = true }
serde = { version = "1.0", features = ["derive"] }
serde_bytes = "0.11"
bitflags = "1.2"
codicon = "3.0"
bitfield = "0.13"
dirs = "3.0"
iocuddle = "0.1"

[dev-dependencies]
dirs = "3.0"
kvm-bindings = "0.4"
kvm-ioctls = "0.9"
mmarinus = "0.2"
reqwest =  { version = "0.10", features = ["blocking"] }
serial_test = "0.5"
