[package]
name = "sev"
version = "1.0.0"
authors = ["Nathaniel McCallum <npmccallum@redhat.com>", "The VirTee Project Developers"]
license = "Apache-2.0"
edition = "2018"
homepage = "https://github.com/virtee/sev"
repository = "https://github.com/virtee/sev"
description = "Library for AMD SEV"
readme = "README.md"
keywords = ["amd", "sev"]
categories = ["os", "os::linux-apis", "parsing", "network-programming", "hardware-support"]
exclude = [ ".gitignore", ".github/*" ]

[badges]
# See https://doc.rust-lang.org/cargo/reference/manifest.html#the-badges-section
github = { repository = "virtee/sev", workflow = "test" }
#github = { repository = "virtee/sev", workflow = "lint" }
maintenance = { status = "actively-developed" }
is-it-maintained-issue-resolution = { repository = "virtee/sev" }
is-it-maintained-open-issues = { repository = "virtee/sev" }

[features]
default = []
hw_tests = []
dangerous_hw_tests = ["hw_tests"]

[dependencies]
openssl = { version = "0.10", optional = true }
serde = { version = "1.0", features = ["derive"] }
serde_bytes = "0.11"
bitflags = "1.2"
codicon = "3.0"
dirs = "4.0"
iocuddle = "0.1"
serde-big-array = "0.4.1"
kvm-ioctls = "0.12"
static_assertions = "^1.1.0"
bitfield = "^0.13"

[dev-dependencies]
kvm-bindings = ">=0.5"
mmarinus = "0.4"
serial_test = "0.8"
